

<nav class="navbar navbar-light bg-light justify-content-between mb-3">
  <a class="navbar-brand" routerLink="navbar">Navbar</a>
  <form class="form-inline">
    <button class="btn btn-primary" routerLink="cart">
    <i  style="font-size: 15px;"  class="fa-solid fa-cart-shopping " ></i>
    <span class="badge badge-danger">{{totalcount}}</span>      
    </button>
    <input class="form-control mr-sm-2 ml-3" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>



<div class="container">
  <div class="row">
    <div class="col-md-12">
           <router-outlet></router-outlet>  
    </div>
  </div>
</div>



