


<div class="row">
    <div class="col-md-4 mb-2"  *ngFor="let prod of prodData">
        <div class="card" >
            <div class="card-header">{{prod.title}}</div>
            <div class="card-body">
                <img src="{{prod.thumbnail}}"  alt="" style="height: 200px;">
                <!-- {{prod.price}} -->
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-info " style="width: 100%;"   (click)="addtocart(prod)">Add to cart</button>
        
            </div>
        </div>
    </div>
</div>

